/* styles/loginPage.module.css */
.loginPage {
  background-image: url("/images/login-background-image.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  /* Set the height to 100% of the viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.loginPageContainer {
  border-radius: 6px;
  width: 40%;
  padding: 4%;
  background-color: #55b2cc;
}

.loginPageInputDiv {
  margin: 2% auto 0;
}

.loginPageButtonDiv {
  margin: 5% auto 0;
}

/* start of pc styles */
@media screen and (max-width: 991px) {
  .loginPageContainer {
    width: 50%;
  }
}


/* start of medium tablet styles */
@media screen and (max-width: 767px) {
  .loginPage {
    background-position: left ;
  }

  .loginPageContainer {
    width: 60%;
  }
}

/* start of phone styles */
@media screen and (max-width: 479px) {
  .loginPage {
    background-position: left;
    align-items: flex-start; 
  }

  .loginPageContainer {
    width: 90%;
    margin: 40% auto 0;
    background-color: #91c4d4;
  }
}