/* Sidebar.module.css */
.sidebar {
    width: 220px;
    background-color: #e7e7ee;
    padding: 20px;
    height: 100vh;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul img {
    max-width: 90%;
    margin: auto 5% 5%;
    height: auto;
}

.sidebar .link {
    text-decoration: none;
    color: #01120A;
}

.sidebar ul li {
    background-color: white;
    border-radius: 24px;
    padding: 5%;
    margin: 5%;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.sidebar ul li:hover {
    background-color: #237FEA;
    color: white;
}

.sidebar ul li .icon {
    margin: 0 2% 0 10%;
}

.sidebar ul li .title {
    line-height: 0;
    font-size: .9rem;
    font-weight: 600;
}

@media screen and (max-width: 767px) {
    /* Add a selector here */
    .sidebar {
        display: none;
    }
}


/* start of phone styles */
/* @media screen and (max-width: 479px) {} */